---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Artist from "../components/Artist.astro";
import Header from "../components/Header.astro";
import News from "../components/News.astro";
import Button from "../components/Button.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Welcome to Astro.">
  <Header title="KUNE FESTIVAL" date="19-23 JULY">
    <video autoplay muted loop src="/video_forside.mp4"></video>
  </Header>
  <main>
    <Navigation />

    <Artist title="DANIEL STORIAN">
      <img src="/1.jpg" alt="1" />
    </Artist>
    <Button />

    <section class="news_grid">
      <News title="NEWLY ADDED WORKSHOPS" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news11.webp" alt="news_image" />
      </News>
      <News title="BE A PART OF THE COMMUNITY" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news22.webp" alt="news_image" />
      </News>
      <News title="AMAZING FESTIVAL CUISINE" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news33.webp" alt="news_image" />
      </News>
      <News title="A DAY AT THE FESTIVAL" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news44.webp" alt="news_image" />
      </News>
    </section>
    <Button />
    <article class="galleri_forside">
      <img src="/galleri_forside.png" alt="galleri_landingpage" />
    </article>
  </main>
</Layout>

<style>
  .news_grid {
    display: flex;
    flex-direction: flex-end;
  }

  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .galleri_forside {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .banner {
    width: 100%;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
