---
import Layout from "../layouts/Layout.astro";
import ArtistsForside from "../components/ArtistsForside.astro";
import Header from "../components/Header.astro";
import News from "../components/News.astro";
import Button from "../components/Button.astro";
import Navigation from "../components/Navigation.astro";
import Button_line from "../components/Button_line.astro";
---

<Layout title="Welcome to KUNE.">
  <Header title="KUNE FESTIVAL" date="19-23 JULY">
    <video autoplay muted loop src="/video_forside.mp4"></video>
  </Header>
  <main>
    <Navigation />
    <h2>ARTISTS</h2>
    <div class="artists_grid">
      <ArtistsForside name="JINSU">
        <img src="/img/1.webp" alt="1" />
      </ArtistsForside>
      <ArtistsForside name="VIXEN">
        <img src="/img/2.webp" alt="2" />
      </ArtistsForside>
      <ArtistsForside name="MARTIN KLING">
        <img src="/img/3.webp" alt="3" />
      </ArtistsForside>
    </div>

    <Button title="VIEW ALL ARTIST" link="/lineup" />
    <h2>NEWS</h2>
    <section class="news_grid">
      <News title="NEWLY ADDED WORKSHOPS" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news1111.webp" alt="news_image" />
      </News>
      <News title="BE A PART OF THE COMMUNITY" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news2222.webp" alt="news_image" />
      </News>
      <News title="AMAZING FESTIVAL CUISINE" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news3333.webp" alt="news_image" />
      </News>
      <News title="A DAY AT THE FESTIVAL" text="Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere, Her kan du nu se en masse workshops og lade dig inspirere">
        <img src="/news4444.webp" alt="news_image" />
      </News>
    </section>
    <Button_line title="GET TICKETS" />
    <h2>KUNE HIGHLIGHTS</h2>
    <article class="galleri_forside">
      <img src="/galleri_forside-2.webp" alt="galleri_landingpage" />
    </article>
  </main>

  <style>
    .news_grid {
      display: flex;
      flex-direction: flex-end;
      margin: 12px;
    }

    .artists_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin-inline: 4rem;
    }

    .galleri_forside {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    main {
      margin: auto;
      max-width: 100%;
    }

    .galleri_forside {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    button {
      align-items: center;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    h2 {
      font-size: 3rem;
      margin: 2rem;
      margin-top: 3rem;
    }

    .banner {
      width: 100%;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  </style>
</Layout>
