---
const { title } = Astro.props;
const { text } = Astro.props;
---

<section>
  <h3>{title}</h3>
  <p>{text}</p>
  <slot />
</section>

<style>
  h3 {
    color: white;
  }

  p {
    color: white;
    font-size: 12px;
  }

  img {
    max-width: 50px;
    height: 50px;
    gap: 20px;
  }
</style>
