---
const { title } = Astro.props;
const { text, text1, text2 } = Astro.props;
---

<section>
  <h3>{title}</h3>
  <p>{text}</p>
  <p>{text1}</p>
  <p>{text2}</p>
  <slot />
</section>

<style>
  h3 {
    color: white;
    margin: 5%;
  }

  p {
    color: white;
    font-size: 14px;
    line-height: 22px;
    width: 80%;
    margin: 5%;
  }

  img {
    max-width: 50px;
    height: 50px;
    gap: 20px;
  }
</style>
