---
const { title } = Astro.props;
---

<section>
  <slot />
  <h3>{title}</h3>
  <span>&rarr;</span>
</section>
<style>
  section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
  }
  h3 {
    justify-self: center;
    align-self: start;
    color: white;
    transform: translate(0, -20px);
  }
  span {
    justify-self: center;
    color: white;
    transform: translate(0, -20px);
    font-size: 1.5rem;
  }

  h3,
</style>
