---
const { title } = Astro.props;
---

<section class="artist_card">
  <slot />
  <h3>{title}</h3>
  <span>&rarr;</span>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    column-gap: 18px;
    row-gap: 9px;
    width: 100%;
  }
  h3 {
    justify-self: end;
    align-self: start;
    transform: translate(-327px, 211px);
    color: white;
  }
  span {
    justify-self: center;
    color: white;
  }
</style>
