---
const { name, image } = Astro.props;
---

<section>
  <slot />
  <div class="text">
    <h3>{name}</h3>
    <span class="arrow">&rarr;</span>
  </div>
</section>
<style>
  section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
  }
  .text {
    color: white;
    transform: translate(0, -30px);
    cursor: pointer;
  }
  .arrow {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  h3 {
    text-align: center;
  }
  .text:hover {
    color: var(--brand-color);
  }

  @media (max-width: 800px) {
    h3 {
      font-size: 2rem;
    }
  }
</style>
