---
const { title, onclick } = Astro.props;
---

<div class="button_container">
  <div class="center">
    <button>{title}{onclick}</button>
  </div>
</div>

<style>
  button {
    color: white;
    background-color: rgba(32, 49, 65, 1);
    border-radius: 30px;
    padding: 20px 20px;
    border: 1.5px solid rgb(255, 255, 255);
    position: relative;
    font-family: "Dosis";
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  button:hover {
    color: rgba(32, 49, 65, 1);
    background-color: white;
    border: 1.5px solid rgba(32, 49, 65, 1);
    font-weight: 600;
  }

  .center {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  button:before {
    content: "";
    display: block;
    width: 40vw;
    height: 0.5px;
    position: absolute;
    background: rgba(253, 132, 32, 1);
    right: 209px;
    top: 50%;
  }

  button:after {
    content: "";
    display: block;
    width: 40vw;
    height: 0.5px;
    position: absolute;
    background: rgba(253, 132, 32, 1);
    left: 209px;
    top: 50%;
  }
</style>
