---
---

<button>GET TICKETS</button>

<style>
  button {
    color: white;
    background-color: rgba(32, 49, 65, 1);
    border-radius: 30px;
    padding: 20px 30px;
    border: 1.5px solid rgb(255, 255, 255);
  }
</style>
