---
const { title } = Astro.props;
---

<div class="button_container">
  <div class="center">
    <button>{title}</button>
  </div>
</div>

<style>
  button {
    color: white;
    background-color: rgba(253, 132, 32, 1);
    border: 2px solid rgba(253, 132, 32, 1);
    border-radius: 30px;
    padding: 20px 30px;
    font-family: dosis;
    font-weight: bold;
    cursor: pointer;
  }

  .center {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  button:hover {
    color: rgba(253, 132, 32, 1);
    background-color: white;
    border: 2px solid rgba(253, 132, 32, 1);
  }
</style>
