---
const { title } = Astro.props;
---

<div class="lines"><h3>{title}</h3></div>

<style>
  h3 {
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: 2px solid rgba(253, 132, 32, 1);
    padding: 1rem;
    margin-inline: 6rem;
  }
  @media (max-width: 600px) {
    h3 {
      font-size: 2rem;
      margin-block: 1.5rem;
    }
  }
</style>
