---
const { title } = Astro.props;
---

<div class="lines"><h3>{title}</h3></div>

<style>
  h3 {
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  @media (max-width: 600px) {
    h3 {
      font-size: 2rem;
      margin-block: 1.5rem;
    }
  }
  h3:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }

  h3:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
</style>
