<article class="box">
  <ul>
    <li><img class="footer_logo" src="public/footer_logo.png" alt="footer_logo" /></li>
    <li>COPYRIGHT © KUNE</li>
    <li><img class="footer_icons" src="/footer_icons.png" alt="footer_icons" /></li>
  </ul>
</article>

<style>
  .box {
    display: block;
    background-color: #ce7f54;
    padding: 60px;
  }

  ul {
    text-align: center;
  }
  li {
    list-style: none;
    color: #203141;
    padding: 10px;
  }

  .footer_logo {
    width: 9%;
  }

  img {
    width: 20%;
  }
</style>
