<article class="box">
  <ul>
    <li>info@royalescapes.dk</li>
    <li>
      ROYAL escapes, københavn k <br 30, 1310 københavn< li />
      <li>
        <img class="footer_icons" src="/footer_icons.png" alt="footer_icons" />
      </li>
    </li>
  </ul>

  <style>
    .box {
      display: block;
      background-color: #ce7f54;
      padding: 60px;
    }

    ul {
      text-align: center;
    }
    li {
      list-style: none;
      color: #203141;
      padding: 10px;
      font-size: 1.2rem;
      font-weight: bolder;
    }

    .footer_logo {
      width: 5%;
      min-width: 50px;
    }
    .footer_icons {
      width: 10%;
      min-width: 150px;
    }
  </style>
</article>
