<article class="box">
  <ul>
    <li><img class="/footer_logo.png" src="footer_logo.png" alt="footer_logo" /></li>
    <li>COPYRIGHT © KUNE</li>
    <li><img src="/footer_icons.png" alt="footer_icons" /></li>
  </ul>
</article>

<style>
  .box {
    display: block;
  }
</style>

<!-- CE7F54; -->
