<ul>
  <li><a href="#">MUSIC</a></li>
  <p>/</p>
  <li><a href="#">ART</a></li>
  <p>/</p>
  <li><a href="#">FOODS</a></li>
  <p>/</p>
  <li><a href="#">WORKSHOP</a></li>
  <p>/</p>
  <li><a href="#">VENUE</a></li>
</ul>

<style>
  li a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    font-family: dosis;
  }
  li {
    list-style: none;
  }

  ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  p {
    color: white;
    font-size: 3rem;
    font-family: dosis;
  }
  li a:hover {
    color: rgba(253, 132, 32, 1);
  }
  p:hover {
    color: rgba(253, 132, 32, 1);
  }
</style>
