---
const { title, text } = Astro.props;
---

<section>
  <slot />
  <h3>{title}</h3>
  <p>{text}</p>
  <span>&rarr;</span>
</section>

<style>
  span {
    color: white;
    justify-self: right;
  }
</style>
