---
const { title, text } = Astro.props;
---

<section>
  <slot />
  <h4>{title}</h4>
  <p>{text}</p>
  <span>&rarr;</span>
</section>

<style>
  section {
    display: flexbox;
    text-align: left;
  }
  h4 {
    color: white;
  }

  p {
    color: white;
    font-size: 12px;
  }
  span {
    color: white;
    font-size: 2rem;
    justify-self: end;
  }

  img {
    max-width: 100%;
    height: auto;
    gap: 20px;
  }
</style>
