---
const { title, text } = Astro.props;
---

<section>
  <slot />
  <h3>{title}</h3>
  <p>{text}</p>
  <span>&rarr;</span>
</section>

<style>
  section {
    display: flex;
    text-align: left;
    flex-direction: column;
    border: 5px solid transparent;
    padding: 20px;
  }

  h3 {
    color: white;
    font-size: 2rem;
  }

  p {
    color: white;
    font-size: 12px;
  }
  span {
    color: white;
    font-size: 2rem;
    align-self: flex-end;
  }

  span:hover {
    color: var(--brand-color);
  }

  section:hover {
    border: 5px solid rgba(253, 132, 32, 1);
  }

  img {
    max-width: 100%;
    height: auto;
    gap: 20px;
  }
  @media (max-width: 600px) {
      h4 {
        font-size: 1.5rem;
      }
      section{
        gap: 10px;
      }
</style>
