---
const { title, text } = Astro.props;
---

<section>
  <slot />
  <h3>{title}</h3>
  <p>{text}</p>
  <span>&rarr;</span>
</section>

<style>
  section {
    display: flexbox;
    text-align: left;
  }

  h3,
  p {
    color: white;
  }
  span {
    color: white;
    text-align: right;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
